body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(120deg, #ffbb8e, #ff84b3);
    height: 100vh;
    overflow: auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: white;
    border-radius: 15px;
}

.center h1 {
    background-color: #F0FEFD;
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid silver;
    border-radius: 15px 15px 0 0;
}

.center h5 {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0 0 0;
    font-family: monospace;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .text_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 70px;
}

.text_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

.text_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .3s;
}

.text_field input:focus~label,
.text_field input:valid~label {
    top: -5px;
    color: #2691d9;
}

.text_field input:focus~span::before,
.text_field input:valid~span::before {
    width: 100%;
}

input[type="submit"] {
    width: 10%;
    height: 40px;
    border: 1px solid;
    background: #ffab3d;
    border-radius: 25px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #000000;
    transition: .3s;
}

.center form div output {
    overflow: auto;
    height: 70px;
}

.boxchat {
    padding: 10px;
    width: 50%;
    height: 450px;
    background: #ffffff;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    overflow-y: auto;
    overflow-x: hidden;
}

.message {
    padding-left: 10px;
    width: 40%;
    height: 40px;
    background: #ffffff;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    overflow: auto;
}

.passage {
    margin-left: 40px;
    padding: 10px;
    float: right;
    width: 45%;
    height: 450px;
    background: #ffffff;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 152, 93);
}

.userText {
    color: black;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
}

.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}

.botText span {
    background-color: #ff8615;
    padding: 10px;
    border-radius: 15px;
}